body {
  font-family: 'Lato', sans-serif;
}

#jumbotron {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('./images/lightbulbs.jpg') center center;
  min-height: 500px;
  /* Creates the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}

#slogan {
  margin-top: 30px;
  padding-top: 30px;
}

#about {
  padding: 80px 0 80px;
  background-color: #e8e8e8;
}

#about-icon {
  font-size: 4rem;
  margin-bottom: 20px;
}

#hire-button {
  border-radius: 45px;
  margin-top: 30px;
  margin-bottom: 90px;
  padding: 15px 20px;
  font-size: 20px;
}

#blockquote {
  padding: 80px 0 80px;
}

#projects {
  background-color: #e8e8e8;
}

#project-header {
  padding: 4rem;
}

#project-section {
  padding: 20px 0px 20px;
}

#project-image {
  width: 30rem;
}

#footer {
  padding: 50px 0 20px;
  background-color: #282d2f;
}

#contact-buttons {
  font-size: 50px;
}

#copywrite {
  margin-top: 20px;
  color: white;
  font-size: 10px;
}
