body {
  font-family: 'Lato', sans-serif;
}

#hire-button {
  border-radius: 40px;
  margin-top: 30px;
  font-size: 20px;
}

#jumbotron {
  padding: 10%;
}

footer {
  padding: 50px 0 20px;
  background-color: #282d2f;
}

#about {
  padding: 80px 0 80px;
}

#contact-buttons {
  font-size: 50px;
}

#about-icon {
  font-size: 4rem;
  margin-bottom: 20px;
}

#copywrite {
  margin-top: 20px;
  color: white;
  font-size: 10px;
}
