
#jumbotron {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/lightbulbs.jpg') center center;
  min-height: 500px;
  /* Creates the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}

#logo {
  position: relative;
}

#hire-button {
  border-radius: 45px;
  margin-top: 60px;
  margin-bottom: 90px;
  padding: 15px 20px;
  font-size: 20px;
}

#about {
  color: #333236;
  background-color: #333236;
}

#about-box {
  margin: 3rem 2rem 3rem;
  padding: 2rem;
}

#about-icon {
  font-size: 5rem;
  margin: 2rem;
}

@media (max-width: 500px) {
  #about-box {
    margin: 1rem 1rem 1rem;
    padding: 1rem;
  }
  
  #about-icon {
    font-size: 5rem;
    margin: 2rem;
  }
}

#about-content {
  padding: 10px;
}

#learn-more {
  margin: 0 5rem 0;
}

#quotes {
  margin-top: 2rem;
}

#blockquote {
  padding: 2rem 0 3rem;
}

#projects {
  color: #333236;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/laptop.jpg') center center;
  min-height: 500px;
  /* Creates the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}

#project-header {
  color: white;
  font-size: 60px;
  padding: 5rem 0rem 2rem;
}

@media (max-width: 375px) {
  #project-header {
    font-size: 20px;
    padding: 40px;
  }
}

#project-section {
  color: white;
  padding: 40px 20px 40px;
  margin: 30px 0px 30px;
  background-color: #0000002d;
  border: 2rem #333236;
  box-shadow: 10px 5px 5px #25242794;
}

#project-card {
  background: none;
  border: none;
}

#visit-site {
  margin: 0 20rem 0;
}

@media (max-width: 500px) {
  #visit-site {
    margin: 0 2rem 0;
  }

  #project-section {
    margin: 30px 0 30px;
    padding: 5%;
  }
}

#footer {
  padding: 50px 0 20px;
  background-color: #333236;
}

#contact-buttons {
  font-size: 50px;
}

#copywrite {
  margin-top: 20px;
  color: white;
  font-size: 10px;
}
